.navContainer {
    display: flex; 
    width: 100%;
    height: 3.5rem;
    position: relative;
    margin: 0;
}

.navItems {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.navList {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
    width: 20%;
}
